<div class="flex items-center justify-between p-4 bg-white shadow rounded-2xl border border-gray-200 transition-all"
     [ngClass]="state ? 'opacity-100' : 'opacity-50'">

  <!-- Infos -->
  <div>
    <p class="text-xl font-semibold text-gray-800">{{ name }}</p>
    <p class="text-sm text-gray-600">Puissance : {{ power }}</p>
  </div>

  <!-- Actions -->
  <div class="flex pl-3 gap-2 pointer-events-auto opacity-100">
    <!-- Bouton Modifier (icône power) -->
    <button
      (click)="change.emit()"
      class="p-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
    >
    🔧
    </button>

    <!-- Bouton Supprimer (icône moins) -->
    <button
      (click)="delete.emit()"
      class="p-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
           viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M20 12H4" />
      </svg>
    </button>
  </div>
</div>
